
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation</title>
    <link rel="stylesheet" href="../css/style.css"/>

</head>
<body>
    <h1>Order</h1>
    <a href="/product">Home</a>
    <a href="/order">Order</a>
    <a href="/order_detail">Order_Detail</a>
    <a href="/User">User</a>
    
    <table>
        <tr>
            <th>Name</th>
            <th>email</th>
            <th>Action</th>
            <th>Other</th>
        </tr>
        <% for(var i=0; i < order.length; i++) { %>
            <tr>
                <td><%= order[i].Order_ID %></td>
                <td><%= order[i].Order_dID %></td>
                <td><%= order[i].Price %></td>
                
                <td>

                    <a href="/orde/delete/<%= order[i].order %>">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
    <a href="/orde/create">Create New user</a>
</body>
</html>