<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <h1><%= order.Order_ID %></h1>
    <p>Order_dID: <%= order.Order_dID %></p>
    <a href="/order/update/<%= order.order %>">Edit</a>
    <a href="/orde/delete/<%= order.order %>">Delete</a>
    <a href="/order">Back to List</a>
</body>
</html>