<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Book</title>
    <link rel="stylesheet" href="../css/style.css"/>

</head>
<body>
    <h1>Create Order</h1>
    <form method="post" action="/orde/create">
        <label for="Order_ID">Order_ID:</label>
        <input type="text" id="Order_ID" name="Order_ID">
        <br>
        <label for="Order_dID">Order_dID:</label>
        <input type="text" id="Order_dID" name="Order_dID">
        <br>

        <br>
        <label for="Price">Price:</label>
        <input type="text" id="Price" name="Price">
        <br>

        <input type="submit" value="create">
    </form>
    <a href="/order">Back to List</a>
</body>
</html>