<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Time</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <h1><%= order_detail.Order_dID %></h1>
    <p>user_ID: <%= order_detail.user_ID %></p>
    <p>product_ID: <%= order_detail.product_ID %></p>
    <p>Reservation_Date_Time: <%= order_detail.Reservation_Date_Time %></p>

    <a href="/order_detail">Back to List</a>
</body>
</html>