<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Book</title>
    <link rel="stylesheet" href="../css/style.css"/>

</head>
<body>
    <h1>Create Order_Detail</h1>
    <form method="post" action="/order_detai/create">
        <label for="Order_ID">Order_ID:</label>
        <input type="text" id="Order_ID" name="Order_ID">
        <br>
        <label for="user_ID">USERNAME:</label>
        <input type="text" id="user_ID" name="user_ID">
        <br>
        <br>
        <label for="product_ID">PRODUCT:</label>
        <input type="text" id="product_ID" name="product_ID">
        <br>
        



        <input type="submit" value="create">
    </form>
    <a href="/order_detail">Back to List</a>
</body>
</html>