<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <h1><%= product.product_ID %></h1>
    <p>product_name: <%= product.product_name %></p>
    <p>quantity_available: <%= product.quantity_available %></p>
    <p>price: <%= product.price %></p>

    <a href="/product">Back to List</a>
</body>
</html>